.input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__label,
  &__input {
    letter-spacing: 0.1rem;
    width: 100%;
    margin: 0;
  }
  &__input {
    box-sizing: border-box;
    padding: 8px;
    margin-top: 6px;
    border: 1px rgba(0, 0, 0, 0.076) solid;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.148);
    border-radius: 5px;
  }
  &__label {
    text-transform: uppercase;
  }
}

.radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__label,
  &__input {
    padding: 0 10px;
    letter-spacing: 0.1rem;
  }
  &__label {
    text-transform: uppercase;
  }
  &__input {
    margin-left: 8px;
  }
}

@media (min-width: 768px) {
  .input {
    &__input, &__label {
      font-size: 1.2rem;
    }
  }
  .radio {
    justify-content: center;
    margin-left: 2rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
    .input {
      &__input, &__label {
        font-size: 1rem;
      }
    }
}