.input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__label,
  &__input {
    padding-bottom: 10px;
    margin-bottom: 4px;
    letter-spacing: 0.1rem;
    width: 100%;
  }
  &__input {
    border-radius: 6px;
    box-sizing: border-box;
    padding: 8px;
  }
  &__label {
    text-transform: uppercase;
  }
}
