.input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__label,
  &__input {
    padding: 10px;
    letter-spacing: 0.1rem;
    width: 100%;
    margin: 0;
  }
  &__input {
    border-radius: 6px;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 6px;
    border: 1px rgba(0, 0, 0, 0.076) solid;
  }
  &__label {
    text-transform: uppercase;
  }
}

.radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__label,
  &__input {
    padding: 10px 10px 10px 0;
    letter-spacing: 0.1rem;
  }
  &__label {
    text-transform: uppercase;
  }
}