.input {
  &__label,
  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }
  &__input {
    margin-bottom: 10px;
    border-radius: 6px;
  }

  &__radio {
    display: inline-block;
  }
}
