.orderTracking {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
  &__pattern {
    height: 160px;
    width: 90%;
    border-radius: 5px;
  }

  &__detail {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__stage {
    width: 90%;
    height: min-content;
    padding: 0;
    margin: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__stage:last-child {
    .orderTracking__line,
    .orderTracking__lineFuture {
      display: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0;
    width: 80%;
  }

  &__text,
  &__textFuture,
  &__date {
    font-family: "Aboreto", system-ui;
    font-size: 0.8rem;
    margin: 0;
  }

  &__date {
    font-size: 0.6rem;
  }

  &__textFuture {
    color: rgba(0, 0, 0, 0.278);
  }

  &__shapes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    gap: 6px;
  }

  &__circle,
  &__circleFuture {
    width: 12px;
    height: 12px;
    border-radius: 50rem;
    border: black solid 1.2px;
    margin: 0;
  }

  &__circleFuture {
    border: rgba(0, 0, 0, 0.278) solid 1.2px;
  }
  &__line,
  &__lineFuture {
    width: 1px;
    height: 50px;
    border: 1px black dashed;
  }

  &__lineFuture {
    border: 1px rgba(0, 0, 0, 0.278) dashed;
  }
}
