.pattern {
  &__card {
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  &__blue {
    background-color: rgb(124, 170, 221);
  }

  &__pink {
    background-color: rgb(233, 188, 226);
  }

  &__tile {
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    z-index: 1;
  }

  &__halfDrop {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
