.pattern {
  &__card {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0;
  }

  &__blue {
    background-color: rgb(124, 170, 221);
  }

  &__pink {
    background-color: rgb(233, 188, 226);
  }

   &__charcoal {
    background-color: rgb(46, 46, 48);
  }

  &__green {
    background-color: rgb(4, 80, 44);
  }

  &__grey {
    background-color: rgb(193, 193, 195);
  }

  &__indigo {
    background-color: rgb(3, 3, 99);
  }

  &__tile {
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    z-index: 1;
  }

  &__halfDrop {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
