.form {
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .form {
    width: 60%;
  }
}