.designForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
    background-color: rgb(255, 247, 238);
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.148) ;

  &__container {
    box-sizing: border-box;
    padding: 16px;
  }

 &__select {
     padding: 10px;
     margin: 16px 0;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    width: 90%;
    border: 1px rgba(0, 0, 0, 0.076) solid;
  }

  &__label {
    text-transform: uppercase;
  }

  &__Ctas {
    display: flex;
    justify-content: center;
    align-items: center;
  gap: 10px;
  }
}
