.designForm {
  &__container {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__form {
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
     margin: 0;
  }

  &__Ctas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0;
  }
}
