.designForm {
  &__container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__form {
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  &__Ctas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
