.admin {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }

  &__header {
    font-size: 1.6rem;
  }

  &__dropdown {
    width: 100%;
    display: flex;
    gap: 10px;
  }
}
