.admin {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }

  &__header {
    font-size: 1.6rem;
  }

  &__dropdown {
    width: 100%;
    display: flex;
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .admin {
    &__container {
      width: 60%;
    }
  }
}

@media (min-width: 1200px) {
  .admin {
    &__container {
      width: 40%;
    }
  }
}
