.orderForm {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__pattern {
     width: 80%;
    height: 40vh;
    border-radius: inherit;
  }
  &__heading {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: bolder;
    margin: 1.4rem 0 0 0;
    text-align: center;
  }

  &__radio {
    display: inline-flex;
    margin: 0;
  }

  &__link {
    display: flex;
    align-self: flex-end;
    margin: 0 0 1rem 0;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

}
