.orderForm {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 247, 238);
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.148) ;
    padding: 10px;
    margin: 10px;
  }

  &__pattern {
    height: 35vh;
    width: 80%;
    border-radius: inherit;
  }
  &__heading {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: bolder;
    margin: 1.4rem 0 0 0;
    text-align: center;
  }

  &__radio {
    display: inline-flex;
    margin: 0;
  }

  &__link {
    display: flex;
    align-self: flex-end;
    margin: 0 0 1rem 0;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

}
