.orderForm {
  &__container {
    border: 1px black solid;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__heading {
    font-size: 1.6rem;
    letter-spacing: 8px;
    font-weight: bolder;
    margin: 1rem;
    text-align: center;
  }

  &__radio {
    display: flex;
  }
  &__link {
    font-size: 0.8rem;
    text-decoration: underline;
    text-transform: uppercase;
  }
}
