.cta {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    height: 2.2rem;
    margin: 0.8rem 0 0.8rem 0;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    padding: 0.5rem 1.5rem;
    width: 9.1rem;
    text-align: center;
    border-radius: 6px;
    background-color: black;
    color: white;
    font-family: "Aboreto", system-ui;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover, &:focus {
        background-color: rgb(75, 74, 74);
    }
    &:disabled {
        background-color: rgb(143, 143, 142);
    }
}

@media (min-width: 768px) {
    .cta {
        height: 3rem;
        width: 100%;
        font-size: 1.2rem;
        align-items: center;
    }
}