.card {
    display: flex;
    flex-direction: column;
    width: min-content;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.148);
    padding: 1rem;
    background-color: white;

    &__pattern {
    height: 140px;
    width: 140px;
    border-radius: inherit;
  }

  &__text {
    padding: 0;
    margin: 0;
  }

  &__name,
  &__edit {
    font-family: "Aboreto", system-ui;
  }

  &__name {
    font-size: 0.8rem;
    font-weight: bolder;
  }

  &__edit {
    font-size: 0.6rem;
  }
  }

  @media (min-width: 768px) {
  .card {
    &__pattern {
      width:250px;
      height: 250px;
    }
    &__name {
      font-size: 1.2rem;
    }
    &__edit {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1200px) {
  .card {
    &__pattern {
      width:250px;
      height: 250px;
    }
    &__name {
      font-size: 1.2rem;
    }
    &__edit {
      font-size: 1rem;
    }
  }
}