.card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.148);
    padding: 1rem;

    &__pattern {
    height: 140px;
    width: 140px;
    border-radius: inherit;
  }

  &__text {
    padding: 0;
    margin: 0;
  }

  &__name,
  &__edit {
    font-family: "Aboreto", system-ui;
  }

  &__name {
    font-size: 0.8rem;
    font-weight: bolder;
  }

  &__edit {
    font-size: 0.6rem;
  }
  }

  