.savedDesigns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__heading {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bolder;
  }

  &__cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    height: max-content;
    flex-wrap: nowrap;
  }

  &__card {
    // background-color: plum;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    // height: 30vh;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.148);
    padding: 1rem;
  }

  &__pattern {
    height: 140px;
    width: 140px;
    border-radius: inherit;
  }

  &__text {
    padding: 0;
    margin: 0;
    // text-align: justify;
  }

  &__name,
  &__edit {
    font-family: "Aboreto", system-ui;
  }

  &__name {
    font-size: 0.8rem;
    font-weight: bolder;
  }

  &__edit {
    font-size: 0.6rem;
  }
}
