.modal {
  position: relative;

  &__container {
    position: absolute;
    height: 60vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 247, 238);
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.148);
  }

  &__heading {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bolder;
  }
  
  &__ctas {
    display: flex;
    gap: 18px;
  }
}
