.placedOrders {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  &__heading {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bolder;
  }

  &__cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
  }

  &__card {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  &__pattern {
    height: 160px;
    width: 160px;
    border-radius: 5px;
    background-color: rebeccapurple;
    
  }

  &__text {
    font-family: "Aboreto", system-ui;
    font-size: 0.8rem;
    text-align: center;
     margin: 0;
    padding: 0;
  }
}
