.header {
  &__container {
    position: relative;
    height:40px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px rgba(0, 0, 0, 0.131) solid;
  }
  &__heading {
    font-size: 1.2rem;
    padding: 10px;
  }
}
