.burgerMenu {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
    background-color: pink;
    z-index: 10;

    &__burger1, &__burger2, &__burger3 {
        width: 2rem;
        height: 0.25rem;
        border-radius: 5px;
        background-color: black;
        transform-origin: 1px;
        transition: all 0.3s linear;
    }
}