.modal {
  position: relative;

  &__container {
    position: absolute;
    top: 5rem;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: none;
  }

  &__pattern {
    width: 80%;
    height: 40vh;
    border-radius: inherit;
    margin-top: 5rem;
  }

  &__order {
    width: 95%;
    display: flex;
    justify-self: stretch;
    align-self: stretch;
  }

  &__orderCta {
    width: 85%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    height: 2.2rem;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
    border-radius: 6px;
    background-color: black;
    color: white;
    font-family: "Aboreto", system-ui;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus {
      background-color: rgb(75, 74, 74);
    }
    &:disabled {
      background-color: rgb(143, 143, 142);
    }
  }

  &__ctas {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__edit {
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-right: 20px;
    font-family: "Aboreto", system-ui;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
    }
  }

  &__icon {
    width: 22px;
    height: 22px;
    margin-bottom: 14px;
    cursor: pointer;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    transition: all 0.3s linear;
    &:hover {
      width: 20px;
      height: 20px;
    }
  }
  &__confirmation {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__confirmationText {
    font-family: "Aboreto", system-ui;
    font-size: 1rem;
    text-align: justify;
  }

  &__confirmationCtas {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .modal {
    &__pattern {
      width: 60%;
    }
    &__order {
      width: 70%;
    }

    &__orderCta {
      height: 3rem;
      align-items: center;
      font-size: 1.2rem;
    }

    &__edit,
    &__confirmationText {
      font-size: 1.2rem;
    }

    &__close {
      right: 3rem;
    }

    &__confirmation {
      width: 60%;
    }
    &__confirmationCtas {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 1200px) {
  .modal {
    &__pattern {
      width: 30%;
      height: 50vh;
    }
    &__order {
      width: 35%;
    }
    &__ctas {
      width: 30%;
    }
    &__close {
      right: 32rem;
    }
  }
}
