.archive {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__heading {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bolder;
  }

  &__cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    width: 100%;
    justify-items: start;
  }
}

@media (min-width: 768px) {
  .archive {
    width: 100%;
    height: 100vh;
    justify-content: start;
    margin-top: 1rem;
    &__cardContainer {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      width: 90%;
    }
  }
}