.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-size: 2rem;
    letter-spacing: 8px;
    font-weight: bolder;
    margin: 1rem;
}