.container {
     background-color: rgb(255, 247, 238);
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.148) ;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-size: 2rem;
    letter-spacing: 8px;
    font-weight: bolder;
    margin: 1rem;
}