.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-size: 2rem;
    letter-spacing: 8px;
    font-weight: bolder;
    margin: 1rem;
}

@media (min-width: 768px) {
    .container {
      width: 100%;
      height: 100vh;
      justify-content: start;
      margin-top: 1rem;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 60%;
    }
}