.nav {
    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__links {
        padding-right: 3rem;
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: black;
        font-family: "Outfit", Arial, Helvetica, sans-serif;
        letter-spacing: 0.1rem;
        font-weight: 100;
        font-size: 0.8rem;
        text-transform: uppercase;
        padding-right: 2rem;
        transition: color 0.3s ease;

        &:hover {
            color: rgb(116, 116, 116);
        }
    }
}