* {
  font-family: AvenirNext, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  margin: 10px auto;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

.error {
  color: rgb(184, 3, 3);
  text-align: justify;
}

.savedDesigns {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}