.designTile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40vh;
  border-radius: 5px;
  border: 1px solid black;

  &__blue,
  &__pink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__blue {
    background-color: rgb(74, 142, 220);
  }

  &__pink {
    background-color: rgb(220, 74, 198);
  }

  &__tile {
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    z-index: 1;
  }

  &__halfDrop {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__header {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.2rem;
  }
}
