.designTile {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 75%;
  height: 45vh;
  background-color: rgba(143, 143, 142, 0.086);
  border-radius: 5px;
  overflow: hidden;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  &__header {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 4rem;
    margin: 0;
  }
}
