.designTile {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 75%;
  height: 45vh;
  background-color: rgba(143, 143, 142, 0.086);
  border-radius: 5px;
  overflow: hidden;

  &__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    width: 100%;
    height: 100%;
  }

  &__blue {
    background-color: rgb(124, 170, 221);
  }

  &__pink {
    background-color: rgb(233, 188, 226);
  }

   &__charcoal {
    background-color: rgb(46, 46, 48);
  }

  &__green {
     background-color: rgb(4, 80, 44);
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  &__header {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 4rem;
    margin: 0;
  }
}
